.fondo {
  background-color: #2F0571;
  background: url(../img/travel.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  width: 100%;
}
.img-fondo {
  background: rgba(179, 179, 179, 0.5);
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo {
  border-radius: 5px;
}

.card-title {
  font-size: 2.2rem;
}
.retrato {
  max-width: 150px;
}
